body, html {
  height:100%;
}

body {
  margin: 0px;
  background-color:#444;
  background-image: url('pumpkin.gif');
  font-size: 18px;
}

body, a:link, a:visited, a:active {
  color: lightblue;
}

.title, .addDancerButton {
  padding:5px 12px;
  float:right;
}

.topbar {
  height:32px;
  background-color: #555;
}

.title {
  background-color: #777;
}

.dancer {
  position:absolute;
}

.shyDancer {
  position:absolute;
}

.bouncingDancer {
  position: absolute;
  transition: .2s all ease;
}

.bounce {
  /* border: 20px solid blue;
  border-radius: 20px; */
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.bounce {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}